@media (max-width: 320px){
    .card{
        position: relative;
        width: 49px;
        height: 100px;
        transform-style: preserve-3d;
        transition: transform .7s;
    }
    .card-front{
        width: 49px;
        transform: rotateY(180deg);
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.3)
    }
    .card-back{
        width: 49px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .board{
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template: repeat(4, auto) / repeat(6, auto);
        gap: 4px;
    }
    img{
        width: 47px;
    }
}